.contacts {
  overflow-x: hidden;
  padding-top: 70px;
  padding-bottom: 90px;
  background: $bg-gradient;

  /* Tablet Big  */
  @include tablet-big {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  /* Tablet */
  @include tablet {
    padding: 40px 0;
  }

  &__title {
    text-align: center;
    margin-bottom: 60px;

    /* Tablet Big  */
    @include tablet-big {
      margin-bottom: 40px;
    }

    /* Tablet */
    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__row {
    margin-bottom: 42px;
    display: flex;
    column-gap: 70px;
    /* Tablet Big  */
    @include tablet-big {
      column-gap: 30px;
    }
    /* Tablet */
    @include tablet {
      column-gap: 30px;
    }
    /* Mobile */
    @include mobile {
      margin-bottom: 25px;
      flex-direction: column;
      row-gap: 20px;
    }
  }

  &__text {
    position: relative;
    width: 538px;
    margin-bottom: 32px;

    font-size: 18px;
    line-height: 1.6;

    /* Tablet Big  */
    @include tablet-big {
      width: 420px;
      font-size: 16px;
    }
    /* Tablet */
    @include tablet {
      width: 290px;
      font-size: 14px;
    }
    /* Mobile */
    @include mobile {
      order: 1;
    }
  }

  &__list {
    width: 500px;
    /* Tablet Big  */
    @include tablet-big {
      width: 376px;
    }
    /* Tablet */
    @include tablet {
      width: 228px;
    }
    /* Mobile */
    @include mobile {
      order: 2;
    }
  }

  &__form {
    width: 540px;

    /* Tablet Big  */
    @include tablet-big {
      width: 420px;
    }

    /* Mobile */
    @include mobile {
      width: 290px;
    }
  }

  @include tablet-big {
    margin-bottom: 27px;
  }
}

.contacts-info {
  /* Mobile */
  @include mobile {
    margin-bottom: 50px;
  }
}

.contacts-list {
  margin-bottom: 40px;

  & .contacts-list__item + .contacts-list__item {
    margin-top: 22px;

    /* Tablet Big  */
    @include tablet-big {
      margin-top: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    column-gap: 85px;

    /* Tablet Big  */
    @include tablet-big {
      column-gap: 36px;
    }

    /* Tablet Small*/
    @include tablet {
      flex-direction: column;
      align-items: flex-start;
    }
    /* Mobile */
    @include mobile {
    }
    span {
      min-width: 103px;

      font-size: 22px;
      font-weight: 600;
      line-height: 1.6;
      /* Tablet Big  */
      @include tablet-big {
        font-size: 18px;
      }
      /* Tablet */
      @include tablet {
        font-size: 16px;
      }
    }
  }
}
