section.about 
	.about__top
		.container
			.top.flex
				.top__content
					.top__content-title
						h1.h1.grad-border Юрий Ключевский
					.top__content-img
						img(src="./img/about/about.webp", alt="My avatar")
					p.top__content-descr Верстальщик сайтов, веб-разработчик. Оперативная верстка. Работаю с соблюдением сроков и выполнением ТЗ. 
					.top__btns.flex 	
						a.btn.btn--primary(href="") Познакомиться
						a.btn.btn--secondary(href="") Контакты
				.top__img
					img(src="./img/about/about.webp", alt="My avatar")
	.about__center
		.banner
			img.banner__img(src="./img/banner/banner-desktop.webp", alt="Banner Img")
	