section#portfolio.portfolio
	.container
		.portfolio__title
			h2.section-title.grad-border.grad-border--section Портфолио
		.mix-block
			//-.mix-block__btn
			//-	button(type='button' data-filter='all') Все работы
			//-	button(type='button' data-filter='.html') HTML
			//-	button(type='button' data-filter='.wp') WordPress
			#mix-cards.portfolio__row
				article.card.mix.html
					.card__image
						a(href='#' target='_blank')
							.card__img-wrapper
								img.card__img(src='./img/portfolio/forest-travel.webp' alt='Forest Travel Site')
								span.projects Смотреть проект
					.card__text-wrapper
						a.card__desc(href='#' target='_blank')
							h4.card__title Верстка “Форест тревел”
							p.card__text Верстка многостраничного сайта
				article.card.mix.html
					.card__image
						a(href='#' target='_blank')
							.card__img-wrapper
								img.card__img(src='./img/portfolio/unit.webp' alt='Forest Travel Site')
								span.projects Смотреть проект
					.card__text-wrapper
						a.card__desc(href='#' target='_blank')
							h4.card__title Сайт приложения “Юнит”
							p.card__text Верстка лендинга
				article.card.mix.html
					.card__image
						a(href='#' target='_blank')
							.card__img-wrapper
								img.card__img(src='./img/portfolio/project-1.webp' alt='Forest Travel Site')
								span.projects Смотреть проект
					.card__text-wrapper
						a.card__desc(href='#' target='_blank')
							h4.card__title Сайт приложения “Юнит”
							p.card__text Верстка лендинга
				article.card.mix.html
					.card__image
						a(href='#' target='_blank')
							.card__img-wrapper
								img.card__img(src='./img/portfolio/project-2.webp' alt='Forest Travel Site')
								span.projects Смотреть проект
					.card__text-wrapper
						a.card__desc(href='#' target='_blank')
							h4.card__title Сайт приложения “Юнит”
							p.card__text Верстка лендинга
				article.card.mix.html
					.card__image
						a(href='#' target='_blank')
							.card__img-wrapper
								img.card__img(src='./img/portfolio/project-3.webp' alt='Forest Travel Site')
								span.projects Смотреть проект
					.card__text-wrapper
						a.card__desc(href='#' target='_blank')
							h4.card__title Сайт приложения “Юнит”
							p.card__text Верстка лендинга