@mixin tablet-big {
  @media screen and (max-width: 1139px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 899px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 767px) {
    @content;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;

  font-family: "Montserrat", sans-serif;
  color: $dark-color;
  font-weight: $base-fw;
  line-height: $base-lh;
}

main {
  flex-grow: 1;
}

a {
  color: inherit;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

input,
button,
button:focus,
input:focus {
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

input[type="submit"] {
  padding: 0;
  cursor: pointer;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-bottom: 1px solid red;
  -webkit-text-fill-color: #ffffff;
  -webkit-box-shadow: 0 0 0px 1000px #01203c inset;
  transition: background-color 5000s ease-in-out 0s;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;

  @include tablet-big {
    width: 900px;
  }
  @include tablet {
    width: 100%;
  }
  @include mobile {
    width: 100%;
  }
}

.logo {
  cursor: pointer;
}

.flex {
  display: flex;
}

.lock {
  overflow: hidden;
}

// Headings styles
.h1 {
  font-size: 78px;
  font-weight: 700;
  line-height: 1;

  @include tablet-big {
    font-size: 58px;
  }

  @include tablet {
    font-size: 42px;
  }

  @include tablet-big {
    font-size: 32px;
  }
}
