// Line height
$base-lh: 1.3;

// Font weight
$base-fw: 400;
//Font size

// Colors
$accent-color: #fbdc4d;
$second-color: #eff7fc;
$dark-color: #000;
$light-color: #fff;
$active-color: #ff543e;
$bg-gradient: linear-gradient(0deg, #f5fbff 0%, #f5fbff 100%), #f4f8f9;
