$width: 40px;
$height: 25px;
$barWidth: 40px;
$barHeight: 5px;
$barColor: #000;

.burger {
  position: relative;
  z-index: 20;
  display: none;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  cursor: pointer;

  @include tablet {
    display: flex;
  }
}

.burger-bar {
  position: relative;
  width: $barWidth;
  height: $barHeight;
  background-color: $barColor;

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: $barWidth;
    height: $barHeight;
    background-color: $barColor;
    left: 0;
    transition: 0.3s;
  }

  &::before {
    top: -10px;
  }

  &::after {
    top: 10px;
  }
}

.burger.burger--active {
  & > .burger-bar {
    background-color: transparent;

    &::before {
      top: 0;
      transform: rotate(-135deg);
    }

    &::after {
      top: 0;
      transform: rotate(135deg);
    }
  }
}
