.skills {
  gap: 30px;

  @include mobile {
	flex-direction: column;
  }
}

.skills-title-wrapper {
  margin-bottom: 30px;

  @include tablet-big {
    margin-bottom: 20px;
  }
}

.skills-abilities {
  width: 635px;

  @include tablet-big {
    width: 493px;
  }

  @include tablet {
    width: 354px;
  }

  @include mobile {
    width: 290px;
  }
}
