.svg-ln {
  width: 32px;
  height: 32px;
}

.svg-git {
  width: 42px;
  height: 42px;

  @include tablet-big {
    width: 36px;
    height: 36px;
  }
}

.svg-tg,
.svg-vk,
.svg-fb,
.svg-inst,
.svg-wa,
.svg-up {
  width: 48px;
  height: 48px;

  @include tablet {
    width: 38px;
    height: 38px;
  }
}
