extends ../layouts/layout.pug

block content
	include ../sections/_header.pug

	main.main 
		include ../sections/_about.pug
		include ../sections/_portfolio.pug

	include ../sections/_footer.pug
	
	
	
block variables
	-var title = "HTML-Верстальщик";
