include ../mixins/mixins.pug
block variables

doctype html
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		
		//====убрать синий цвет у ссылок в сафари ========
		meta(name="format-detection" content="telephone=no")

		//шрифты
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
		link(href='https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap' rel='stylesheet')

		//AOS
		link(href='https://unpkg.com/aos@2.3.1/dist/aos.css' rel='stylesheet')


		//====стили ========
		link(rel="stylesheet", href="css/main.css")
		title !{title}
		
	body
		
		block content
		a(href="#top" class="backtop-btn" id="backtop")
			svg.svg-up 
				use(href="./img/spriteSvg.svg#svg-up")
		
		//=============== мои скрипты ===================
		script(src="libs/jquery/jquery-3.7.1.min.js")
		script(src="libs/jQuerryValidate/jquery.validate.min.js")
		script(src='https://unpkg.com/aos@2.3.1/dist/aos.js')
		script(src="js/main.js")